body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

div {
    padding: 100px 20px;
    min-height: 100vh;
}

#greetings {
    background-color: #f4f4f4;
}

#about {
    background-color: #e4e4e4;
}

#portfolio {
    background-color: #d4d4d4;
}

#contact {
    background-color: #c4c4c4;
}

.greetings-section {
    text-align: center;
}

.greetings-heading {
    font-size: 36px;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 1px; /* Adjust this value as needed */
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
}

.button:hover {
    background-color: #0056b3;
}

