body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #333; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
}

nav {
    position: fixed;
    width: 100%;
    background-color: #383838; /* Dark mode background color */
    z-index: 1000;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #444; /* Dark mode hover color */
    border-radius: 5px;
}

div {
    padding: 100px 20px;
    min-height: 100vh;
}

#greetings {
    background-color: #222; /* Dark mode background color */
}

#about {
    background-color: #333; /* Dark mode background color */
}

#portfolio {
    background-color: #444; /* Dark mode background color */
}

#contact {
    background-color: #555; /* Dark mode background color */
}

.greetings-heading{
    font-size: 70px;
    margin-bottom: 20px;
}

.greetings-section h1{
    color: #fff; /* Dark mode text color */
    text-align: center; /* Center align the headings */
}
.greetings-section h2 {
    color: #fff; /* Dark mode text color */
    text-align: center; /* Center align the heading */
    font-weight: normal; /* Set font-weight to normal */
}

.greetings-section .button {
    color: #fff; /* Dark mode text color */
    text-align: center; /* Center align the buttons */
}

.button-container {
    margin-top: 20px; /* Adjust as needed */
    text-align: center; /* Center align the button container */
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
    margin: 0 10px;
    background-color: #007bff; /* Default button background color */
    color: #fff; /* Default button text color */
}

.button:hover {
    background-color: #0056b3; /* Default button hover color */
}


.greetings-subheading {
    font-size: 50px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
    margin: 0 10px;
}

.linkedin {
    background-color: #0077b5;
    color: #fff;
}

.github {
    background-color: #333;
    color: #fff;
}

.button:hover {
    background-color: #555;
}

